
<br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-6">
        <div class="row">
            <a href="../Professor/Index"><img src="~/images/user.png" width="50" height="50" /></a>
        </div>
        <span>Cadastro de Professores</span>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <a href="../Coordenador/Index"><img src="~/images/user.png" width="50" height="50" /></a>
        </div>
        <span>Cadastro de Coordenadores</span>
    </div>
</div>