<br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-6">
        <div class="row">
            <a href="../Usuario/Index"><img src="~/images/user.png" width="50" height="50" /></a>
        </div>
        <span>Cadastro de Usuários</span>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <a href="../Geral/Index"><img src="~/images/configuracoes.png" width="50" height="50" /></a>
        </div>
        <span>Cadastros Gerais</span>
    </div>
   
</div>
<br /><br />
<br /><br />
      <div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
          <div class="col-lg-6">
              <div class="row">
                  <a href="../PlanoDeEnsino/Index"><img src="~/images/archive.png" width="50" height="50" /></a>
              </div>
              <span>Plano de Ensino</span>
          </div>
          <div class="col-lg-6">
              <div class="row">
                  <a href="../PlanoDeAula/Index"><img src="~/images/archive.png" width="50" height="50" /></a>
              </div>
              <span>Plano de Aula</span>
          </div>

          @*<div class="col-lg-4">
              <div class="row">
                  <img src="~/images/configuracoes.png" width="50" height="50" />
              </div>
              <span>Configurações</span>
          </div>*@
      </div>

