<h2>Excluir Objetivo</h2>

<h3>Deseja realmente excluir o objetivo selecinado?</h3>

<button type="button" class="btn btn-danger" onclick="Nao()">Não</button>
<button type="button" class="btn btn-success" onclick="Sim()">Sim</button>

<script>
    function Sim() {
        window.location.href = '../../Geral/ExcluirObjetivo/' + '@ViewData["IdExcluir"].ToString()';

    }

    function Nao() {
        window.location.href = '../../Geral/ListaObjetivo';
    }

</script>