
<br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-4">
        <div class="row">
            <a href="../Geral/ListaHabilidade"><img src="~/images/user.png" width="50" height="50" /></a>
        </div>
        <span>Cadastro de Habilidades</span>
    </div>
        <div class="col-lg-4">
            <div class="row">
                <a href="../Geral/ListaDisciplina"><img src="~/images/user.png" width="50" height="50" /></a>
            </div>
            <span>Cadastro de Disciplinas</span>
        </div>
    
        <div class="col-lg-4">
            <div class="row">
                <a href="../Geral/ListaObjetivo"><img src="~/images/user.png" width="50" height="50" /></a>
            </div>
            <span>Cadastro de Objetivos</span>
        </div>
</div>
<br />
<br />

<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-4">
        <div class="row">
            <a href="../Geral/ListaTurma"><img src="~/images/user.png" width="50" height="50" /></a>
        </div>
        <span>Cadastro de Turmas</span>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <a href="../Geral/ListaCompetencia"><img src="~/images/user.png" width="50" height="50" /></a>
        </div>
        <span>Cadastro de Competências</span>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <a href="../Geral/ListaCurso"><img src="~/images/user.png" width="50" height="50" /></a>
        </div>
        <span>Cadastro de Cursos</span>
    </div>
</div>


