<h2 style="color: black;">Cadastro de Planos de Ensino</h2>

<button type="button" class="btn btn-block btn-primary" onclick="Voltar()">Lista de Planos de Ensino</button>
<br />
<form asp-controller="PlanoDeEnsino" asp-action="DetalhesCadastro">

    <div class="form-group">
        <br />
        <p>Disciplina</p>
        <select class="form-control" name="IdDisciplina" asp-items="@ViewBag.ListaDisciplinas"></select>

        <br />
        <p>Professor</p>
        <select class="form-control" name="IdProfessor" asp-items="@ViewBag.ListaProfessores"></select>
    </div>

    <br />
    <button type="submit" class="btn btn-block btn-success">Continuar</button>
</form>

<script>
    function Voltar() {
        window.location.href = '../../PlanoDeEnsino/Index'
    }
</script>