<h2>Excluir Usuário</h2>

<h3>Deseja realmente excluir o coordenador selecinado?</h3>

<button type="button" class="btn btn-danger" onclick="Nao()">Não</button>
<button type="button" class="btn btn-success" onclick="Sim()">Sim</button>

<script>
    function Sim() {
        window.location.href = '../../Coordenador/ExcluirCoordenador/' + '@ViewData["IdExcluir"].ToString()';

    }

    function Nao() {
        window.location.href = '../../Coordenador/Index';
    }

</script>