<h2>Excluir Plano de Aula</h2>

<h3>Deseja realmente excluir o plano de aula selecionado?</h3>

<button type="button" class="btn btn-danger" onclick="Nao()">Não</button>
<button type="button" class="btn btn-success" onclick="Sim()">Sim</button>

<script>
    function Sim() {
        window.location.href = '../../PlanoDeAula/ExcluirPlanoDeAula/' + '@ViewData["IdExcluir"].ToString()';
    }

    function Nao() {
        window.location.href = '../../PlanoDeAula/Index';
    }
</script>