<h2>Plano de Aula excluído com sucesso!</h2>

<button type="button" class="btn btn-primary" onclick="Voltar()">Voltar</button>

<script>
    function Voltar() {
        window.location.href = '../../PlanoDeAula/Index';
    }
</script>